<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load i18n %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/exlchi.css' %}" type="text/css">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font/css/font-awesome.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Edit Category/Location</title>
    <style type="text/css">
    body{
        background-image:url("{% static 'images/bg3.jpg' %}");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    html {
    height: 100%;
    }
    body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
    }
    #footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    text-align: center;
    }
    #menu li a {
        color: #afd9ee;
        display: block;
        font-size: 14px;
        line-height: 20px;
        padding: 6px 12px;
        margin: 8px 8px;
        vertical-align: middle;
        text-decoration: none;
    }

    #menu li a:hover {
        background: -webkit-gradient(linear, center top, center bottom, from(#ededed), to(#fff));
        background-image: linear-gradient(#ededed, #fff);
        border-radius: 12px;
        box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
        color: #222;
    }
</style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: #003366;height:50px;">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">Bibliosoft</a>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right" id="menu" style="left:0px; top:0px">
                <li><a href="{% url 'manage_page' %}"><span class="glyphicon glyphicon-th-list"></span>&nbsp;{% trans '进入管理中心' %}</a></li>
{#                <li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-home"></span>&nbsp;{% trans '返回首页' %}</a></li>#}
            </ul>
        </div>
        <div class="btn-group navbar-btn" data-toggle="buttons">
                <form action="{% url 'set_language' %}" method="post" id="lang">
                {% csrf_token %}
                <input type="hidden" id="lang_s" name="language" value="en">
                <input name="next" type="hidden" value="{{ redirect_to }}"/>
                <label class="btn btn-primary active"  onclick="test('zh-hans')">
                    中文
                </label>
                <label class="btn btn-primary" onclick="test('en')">
                    English
                </label>
                </form>
        </div>
    </div>
</nav>
<div style="margin:auto; width:50%; padding-top: 100px">
    <div class="panel-group" id="accordion">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title" style="text-align: center;">
                    <font style="font-size: x-large;">{% trans '编辑信息' %}</font>
                </h4>
            </div>
            <div id="collapseOne">
                <div class="panel-body">
                    <h3>
                        <span style="display: inline-block; width: 60%;">{% trans '图书类别' %}</span>
                        <input type="text" style="display: inline-block; width: 20%; height: 26px;    cursor: inherit" class="btn btn-warning" id="input0">
                        <label class="btn btn-success" data-toggle="tooltip" title="{% trans '新增类别' %}" onclick="add(0)"><i class="fa fa-plus"></i></label>
                    </h3>
                        {% for type in all_book_type %}
                            <label class="btn btn-success" data-toggle="modal" data-target="#myModal" onclick="edit_info(0,this)">{{ type.book_type }}</label>
                        {% endfor %}
                </div>
            </div>
            <div id="collapseTwo">
                <div class="panel-body">
                    <h3>
                        <span style="display: inline-block; width: 60%;">{% trans '图书地点' %}</span>
                        <input type="text" style="display: inline-block; width: 20%; height: 26px; cursor: inherit" class="btn btn-warning" id="input1">
                        <label class="btn btn-success" data-toggle="tooltip" title="{% trans '新增地点' %}" onclick="add(1)"><i class="fa fa-plus"></i></label>
                    </h3>
                        {% for location in all_book_location %}
                            <label class="btn btn-success" data-toggle="modal" data-target="#myModal" onclick="edit_info(1,this)">{{ location.book_location }}</label>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="fa fa-times"></i>
                    </button>
                    <h4 class="modal-title" id="modal_title">
{#                        模态框（Modal）标题#}
                    </h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="searchInput" id="modal_body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="delete_lab()">
                        <i class="fa fa-trash-o"></i>&nbsp;{% trans '删除' %}
                    </button>
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="change_lab()">
                        <i class="fa fa-pencil"></i>&nbsp;{% trans '更改' %}
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<div style="padding-bottom: 45px;"></div>
<footer style="color: #000000;font-size: .60em;font-style: italic;text-align: center;" id="footer">
京 ICP备 09067229号   京公网安备 110105000296   版权所有 A14组
<br>
Copyright &copy;2018 Library
<br>
<a href="#">xiaoxiongxiong@xiongxiong.com</a>
</footer>
</body>
<script>
    //默认显示
//$(function () { $('#collapseOne').collapse('show')});
//$(function () { $('#collapseTwo').collapse('show')});
    $(document).ready(function () {
        $('#input0').bind("keypress",function (event) {
            if(event.keyCode == 13){
                add(0);
            }
        });
        $("#input1").bind("keypress",function (event) {
            if(event.keyCode == 13){
                add(1);
            }
        });
    });
var obj_label;
var type2;
var old_name;
    function delete_lab() {
        var delete_type_or_loc = obj_label.innerText;
        $.get("{% url 'delete_type_and_location_api' %}", {'delete_type_or_loc': delete_type_or_loc,
            'type': type2}, function(result){
            if(result["result"] === true){
                obj_label.parentNode.removeChild(obj_label);
            }else {
                alert("{% trans "删除失败" %}");
            }
        });
    }
    function change_lab() {
        //var modify = document.getElementById("modify");
        var edit_type_or_loc = $('#modal_body').val();
        if (edit_type_or_loc == ''){
            alert("{% trans '输入为空！' %}");
            return;
        }
        $.get("{% url 'edit_type_and_location_api' %}", {'old_name': old_name, 'edit_type_or_loc': edit_type_or_loc, 'type': type2}, function(result){
            if(result["result"] === true){
                obj_label.innerText = edit_type_or_loc;
            }else {
                alert("{% trans "编辑失败" %}");
            }
        });
    }
    function edit_info(type,obj) {
        var modal_title = document.getElementById("modal_title");
        var modal_body = document.getElementById("modal_body");
        var str = obj.innerText;
        modal_body.value = str;
        old_name = str;
        if(type){
            modal_title.innerText = "{% trans '图书地点' %}";
        }else{
            modal_title.innerText = "{% trans '图书类别' %}";
        }
        obj_label = obj;
        type2 = type;
    }
    function add(type) {
        var panel_body = document.getElementsByClassName("panel-body");
        var add = document.getElementsByClassName("btn btn-warning");
            //var type_add = document.getElementById("type_add");
        var add_type_or_loc = add[type].value;
        if (add_type_or_loc == ''){
            alert("{% trans '输入为空！' %}");
            return;
        }
        $.get("{% url 'add_type_and_location_api' %}", {'add_type_or_loc': add_type_or_loc, 'type': type}, function(result){
            if(result["result"] === true){
                var label = document.createElement("label");
                label.className = "btn btn-success";
                label.innerText = add_type_or_loc;
                label.setAttribute("data-toggle","modal");
                label.setAttribute("data-target","#myModal");
                label.style.margin = "0px 5px 3px 0px";
                label.setAttribute("onclick","edit_info("+type+",this)");
                //panel_body[type].insertBefore(label,obj);
                panel_body[type].appendChild(label);
                add[type].value = '';
            }else {
                alert("{% trans "添加失败" %}");
            }
        });
    }
    function test(str){
        var li=document.getElementById("lang").getElementsByTagName("input");
        li[1].value=str;
        document.getElementById("lang").submit();
        //submit
    }
</script>
</html>